@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://fonts.googleapis.com/css?family=Rock+Salt");

:root {
    --green-000: #001000;
    --green-100: #202220;
    --green-200: #292c29;
    --green-500: #1a9940;
    --green-900: #9beeb4;
}

::selection {
    background: var(--green-500);
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--green-200);
    font-family: "Merriweather Sans";
}

.body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.hr-fade-to-left {
    background-image: linear-gradient(-90deg, var(--green-100), var(--green-500) 32px, var(--green-500) 50%, var(--green-100));
    height: 1px;
    margin-bottom: 8px;
}

.hr-fade-to-right {
    background-image: linear-gradient(90deg, var(--green-100), var(--green-500) 32px, var(--green-500) 50%, var(--green-100));
    height: 1px;
    margin-bottom: 8px;
}

.logo-text {
    color: var(--green-000);
    font-family: "Rock Salt";
    font-size: 2em;
    left: 24px;
    position: absolute;
    text-shadow:
    1px 1px var(--green-900),
    0 0 4px var(--green-900);
    top: -6px;
    transform: rotate(-4deg);
    z-index: 10;
}

.nav-bar {
    background: var(--green-100);
    border-bottom: 1px solid var(--green-000);
    box-shadow: 0 2px 8px var(--green-000);
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-bar-button {
    color: var(--green-500);
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    padding: 4px 12px;
}

.nav-bar-button--selected {
    background: var(--green-500);
    box-shadow: 0 0 16px var(--green-000);
    color: var(--green-100);
    cursor: default;
}

.nav-bar-button-container {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.portfolio-card {
    border: 1px solid var(--green-000);
    border-radius: 32px;
    box-shadow: 0 0 16px var(--green-000);
    display: flex;
    height: fit-content;
    margin: 16px;
    max-width: 900px;
    min-width: 700px;
    overflow: hidden;
    position: relative;
}

.portfolio-card > .image-area {
    max-height: 256px;
    position: relative;
}

.portfolio-card > .image-area > img {
    max-height: 256px;
}

.portfolio-card > .text-area {
    background: var(--green-100);
    padding: 2px 12px;
    width: 100%;
}

.portfolio-card > .text-area > h1 {
    color: var(--green-500);
    font-size: 2em;
    padding: 8px 16px 0 16px;
    text-shadow:
    1px 1px var(--green-000),
    0 0 4px var(--green-000);
}

.portfolio-card > .text-area > .paragraph-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
}

.portfolio-card p {
    color: var(--green-900);
}

.under-construction {
    border-top: 1px dashed var(--green-900);
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding-top: 32px;
    width: 100%;
}

.under-construction > h1 {
    color: var(--green-500);
    margin-bottom: 16px;
    text-align: center;
    text-shadow:
    1px 1px var(--green-000),
    0 0 4px var(--green-000);
    width: 100;
}

.under-construction > h3 {
    color: var(--green-500);
    margin-bottom: 32px;
    text-align: center;
    text-shadow:
    1px 1px var(--green-000),
    0 0 4px var(--green-000);
    width: 100;
}

.under-construction > div {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.under-construction a {
    background: var(--green-100);
    border: 1px solid var(--green-000);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--green-000);
    color: var(--green-900);
    padding: 8px 16px;
    text-decoration: none;
}