body {
   font-family: Arial, Helvetica, sans-serif;
}

canvas {
   margin: 0;
   position: absolute;
   left: 50%;
   top: calc(50% + 64px);
   transform: translate(-50%, -50%);
}

#hud {
   position: absolute;
   padding: 8px;
   background-color: white;
   border: 1px solid grey;
   border-radius: 4px;
   z-index: 100;
}

#menu {
   display: block;
   margin: 0;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid grey;
   border-radius: 8px;
   padding: 8px;
   background-color: white;
   min-width: 584px;
}

label {
   font-size: 0.8em;
}
@media only screen and (min-width: 0px){
   #virtualController {
      width: 100%;
      height: 20%;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
   }

   #virtualController div {
      width: 100%;
      height: 50%
   }

   #virtualController div button {
      width: 33%;
      height: 100%;
   }
}
@media only screen and (min-width: 768px){
   #virtualController {
      display: none;
      width: 100%;
      height: 20%;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
   }

   #virtualController div {
      width: 100%;
      height: 50%
   }

   #virtualController div button {
      width: 33%;
      height: 100%;
   }}